{{#each categories as |category|}}
  {{#link-to "category" category.id class="list-group-item band-link"}}
    {{category.name}}
    <span class="pointer glyphicon glyphicon-chevron-right"></span>
  {{/link-to}}
{{/each}}
